body{
    background-color: teal;
}

.phone-container{
    background-color: black;
}

.phone-screen{
    background-image: url("/img/home.jpg");
}

.home-button{
    background-color: grey;
}

.app-icon{
    background-image: url("/img/icons/rsz_messages.png");
}