@mixin round-corners($size){
    border-radius: $size;
    box-shadow: 10px 5px 5px grey;
}

@mixin round-it($size){
    border-radius: $size;
}

@mixin place-it($top, $left){
    
    @if $top == 0px 
    {
        left: $left;
    }
    @if $left == 0px {
        top : $top;
    }
    @else{
        top : $top;
        left: $left;
    }
}

