@import "colors";

@mixin round-corners($size){
    border-radius: $size;
    box-shadow: 20px 10px 5px grey;
}

@mixin round-it($size){
    border-radius: $size;
}

@mixin place-it($top, $left){
    
    @if $top == 0px 
    {
        left: $left;
    }
    @if $left == 0px {
        top : $top;
    }
    @else{
        top : $top;
        left: $left;
    }
}





body{ 
    height: 1000px;
    width: 800px;
}

.phone-container{
    position: fixed;
    @include round-corners(70px);
    @include place-it(70px, 70px);
    width: 350px;
    height: 700px;
}

.phone-screen{
    position: relative;
    top: 80px;
    margin: auto;
    
    @include round-it(5px);

    height: 500px;
    width: 300px;
}

.home-button{
    margin: auto;
    position: relative;
    
    @include place-it(100px,0px);
    @include round-it(200px);
    
    height: 60px;
    width: 60px;
}

.row{
    margin: auto;
    padding: 10px;
    border-style: dotted;
    
    position: relative;
    top: 30px;
    
    width: 280px;
    height: 60px;
}

.app-icon{
    display: inline-block;
    @include round-it(10px);
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

